$input-border: 1px solid grey;
$input-border--hover: blue;

.input {
  width: 100%;
  border: none;
  display: block;
  border-bottom: $input-border;
  margin-bottom: 40px;
  background-color: white;
  font-size: 22px;
}
.wrapper_input {
  position: relative;
  width: 100%;
}

.input:hover {
  border-color: $input-border--hover;
}

.hidden {
  display: none;
}
