$info_input-bckGround-color: white;
$info_input-border: 1px solid lightgrey;

.info-inputs {
  display: flex;
  justify-content: space-between;
  border-bottom: $info_input-border;
  padding: 10px;
  position: relative;

  .info-input {
    display: block;
    width: 100%;
    border: none;
    max-width: 400px;
    background-color: inherit;
    text-align: right;
    cursor: pointer;
  }
}
